https://colab.research.google.com/drive/1yHwUpFi4nCX-Yr3WBFMRfrW6wVQHqUud?usp=sharing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn import datasets, linear_model
  
# reading the csv file
df = pd.read_csv("sample_data/StudentsPerformance.csv")
  
# updating the column value/data

#gender
df['gender'] = df['gender'].replace({'female': '1'})
df['gender'] = df['gender'].replace({'male': '2'})

#race/ethnicity
df['race/ethnicity'] = df['race/ethnicity'].replace({'group A':'1'})
df['race/ethnicity'] = df['race/ethnicity'].replace({'group B':'2'})
df['race/ethnicity'] = df['race/ethnicity'].replace({'group C':'3'})
df['race/ethnicity'] = df['race/ethnicity'].replace({'group D':'4'})
df['race/ethnicity'] = df['race/ethnicity'].replace({'group E':'5'})

#parental level of education
df['parental level of education'] = df['parental level of education'].replace({'some high school':'1'})
df['parental level of education'] = df['parental level of education'].replace({'high school':'2'})
df['parental level of education'] = df['parental level of education'].replace({"bachelor's degree":'3'})
df['parental level of education'] = df['parental level of education'].replace({'some college':'4'})
df['parental level of education'] = df['parental level of education'].replace({"master's degree":'5'})
df['parental level of education'] = df['parental level of education'].replace({"associate's degree":'6'})

#lunch
df['lunch'] = df['lunch'].replace({'standard':'1'})
df['lunch'] = df['lunch'].replace({'free/reduced':'2'})


#test preparation course
df['test preparation course'] = df['test preparation course'].replace({'none':'1'})
df['test preparation course'] = df['test preparation course'].replace({'completed':'2'})

# define a function that returns a value for the new column
def my_math_prediction(row):
    # new column value based on the value in 'math score' 
    if row['math score'] >= 71:
        return 1
    else:
        return 0

# define a function that returns a value for the new column
def my_reading_prediction(row):
    # new column value based on the value in 'reading score' 
    if row['reading score'] >= 71:
        return 1
    else:
        return 0

# define a function that returns a value for the new column
def my_writing_prediction(row):
    # new column value based on the value in 'writing score' 
    if row['writing score'] >= 71:
        return 1
    else:
        return 0

# apply the function to each row and create a new column called 'math_prediction'
df['math_prediction'] = df.apply(my_math_prediction, axis=1)

# apply the function to each row and create a new column called 'math_prediction'
df['reading_prediction'] = df.apply(my_reading_prediction, axis=1)

# apply the function to each row and create a new column called 'math_prediction'
df['writing_prediction'] = df.apply(my_reading_prediction, axis=1)

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,math_prediction,reading_prediction,writing_prediction
0,1,2,3,1,1,72,72,74,1,1,1
1,1,3,4,1,2,69,90,88,0,1,1
2,1,2,5,1,1,90,95,93,1,1,1
3,2,1,6,2,1,47,57,44,0,0,0
4,2,3,4,1,1,76,78,75,1,1,1

Codigo Alex Mate

In [ ]:
import matplotlib.pyplot as plt
import numpy as np #matlab de python
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score #MSE función de costo

#here we just organize our dataset in order to only have inputs and outputs

#outputs
score_output_Math = 'math score'
score_output_Reading = 'reading score'
score_output_Writing = 'writing score'
output_Math = 'math_prediction'
output_Reading = 'reading_prediction'
output_Writing = 'writing_prediction'


#inputs
all_X = df.columns.tolist()
all_X.remove(output_Math)
all_X.remove(output_Reading)
all_X.remove(output_Writing)
all_X.remove(score_output_Math)
all_X.remove(score_output_Reading)
all_X.remove(score_output_Writing)

In [ ]:
#here we can visualize which ones will be our inputs, as wanted
all_X

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course']

In [ ]:
#we need to manage the data of our inputs
all_X_values = df[all_X].values

# Use only one feature, gender. 
#all_X_values = df['gender'].values 
#all_X_values = np.reshape(all_X_values, (-1, 1))#column vector

# Use only one feature, race/ethnicity. 
#all_X_values = df['race/ethnicity'].values 
#all_X_values = np.reshape(all_X_values, (-1, 1))#column vector

# Use only one feature, parental level of education. 
#all_X_values = df['parental level of education'].values 
#all_X_values = np.reshape(all_X_values, (-1, 1))#column vector

# Use only one feature, lunch. 
#all_X_values = df['lunch'].values 
#all_X_values = np.reshape(all_X_values, (-1, 1))#column vector

# Use only one feature, test preparation course. 
#all_X_values = df['test preparation course'].values 
#all_X_values = np.reshape(all_X_values, (-1, 1))#column vector


#we need to manage the data of our outputs (for my case is the math test only)
math_score_Y = df[output_Math].values

#split the data into training/testing sets
all_X_values_train = all_X_values[:-200] 
all_X_values_test = all_X_values[-200:] #last 200 for test

#split the targets into training/testing sets
math_score_Y_train = math_score_Y[:-200]
math_score_Y_test = math_score_Y[-200:] 

#As accorded, since we are dealing with 1000 rows of data, we are going to use 800 for training our model and 200 for testing it

In [ ]:
# Create linear regression object
regr = linear_model.LinearRegression()

# normalize data to have zero mean and std one (feature scaling)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(all_X_values_train)# scaler fit is just for training dataset 
all_X_values_train_normalized = scaler.transform(all_X_values_train) #normalize training set

# Train the model using the training sets
regr.fit(all_X_values_train_normalized, math_score_Y_train) # 1. REPRESENTAR hypothesis, 2. EVALUAR MSE Error Cuadratico Medio 3. OPTIMIZAR (Gradient Descent)

# Make predictions using the testing set
all_X_values_test_normalized = scaler.transform(all_X_values_test) #normalize test set 
math_score_Y_pred = regr.predict(all_X_values_test_normalized)

# The coefficients theta_0 (inter.), theta_1 (pendiente)
print("Coefficients: \n", "theta_values = ", regr.coef_, " theta_0  = ", regr.intercept_)
#print("Coefficients: \n", regr.coef_, regr.intercept_)
# The mean squared error
print("Mean squared error (MSE Cost): %.2f" % mean_squared_error(math_score_Y_test, math_score_Y_pred))
# The coefficient of determination: 1 is perfect prediction, varía entre 0 y 1
print("Coefficient of determination: %.2f" % r2_score(math_score_Y_test, math_score_Y_pred))

#Since we are dealing with multiple variables, plotting the result is not a viable option

# When we deal with only one input, we can get the plot outputs
#plt.scatter(all_X_values_test_normalized, math_score_Y_test, color="black")
#plt.plot(all_X_values_test_normalized, math_score_Y_pred, color="blue", linewidth=3)

#plt.xticks(())
#plt.yticks(())

#plt.show()

Coefficients:
 theta_values =  [ 0.06351088  0.07460251  0.04168195 -0.10884553  0.06556975]  theta_0  =  0.38999999999999996
Mean squared error (MSE Cost): 0.20
Coefficient of determination: 0.15

In [ ]:
all_X_values_train_normalized[0:10]

array([[-0.96801137, -1.02089777, -0.28414795, -0.7257531 , -0.73985727],
       [-0.96801137, -0.14364942,  0.27574949, -0.7257531 ,  1.35161205],
       [-0.96801137, -1.02089777,  0.83564694, -0.7257531 , -0.73985727],
       [ 1.03304572, -1.89814613,  1.39554439,  1.37787907, -0.73985727],
       [ 1.03304572, -0.14364942,  0.27574949, -0.7257531 , -0.73985727],
       [-0.96801137, -1.02089777,  1.39554439, -0.7257531 , -0.73985727],
       [-0.96801137, -1.02089777,  0.27574949, -0.7257531 ,  1.35161205],
       [ 1.03304572, -1.02089777,  0.27574949,  1.37787907, -0.73985727],
       [ 1.03304572,  0.73359894, -0.8440454 ,  1.37787907,  1.35161205],
       [-0.96801137, -1.02089777, -0.8440454 ,  1.37787907, -0.73985727]])

In [ ]:
from sklearn.linear_model import LogisticRegression
import numpy as np # numpy~Matlab
lambda_value = 110 #hyperparameter 

classifier = LogisticRegression(penalty='none').fit(all_X_values_train_normalized, math_score_Y_train) #penalty='none' -> sin regularización , lambda =0, representación+eval+opt
#classifier = LogisticRegression(penalty='l2', C=1/lambda_value, max_iter=10000).fit(all_X_values_train_normalized, math_score_Y_train) #spenalty='l2' -> con regularización 

accuracy = classifier.score(all_X_values_train_normalized, math_score_Y_train) #exactitud en el conjunto de entrenamiento
print(accuracy)

0.67125

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

Codigo Emi Writing

In [ ]:
#we need to manage the data of our inputs
all_X_values = df[all_X].values

#we need to manage the data of our outputs (for my case is the math test only)
writing_score_Y = df[output_Writing].values

#split the data into training/testing sets
all_X_values_train = all_X_values[:-200] 
all_X_values_test = all_X_values[-200:] #last 200 for test

#split the targets into training/testing sets
writing_score_Y_train = writing_score_Y[:-200]
writing_score_Y_test = writing_score_Y[-200:] 

#As accorded, since we are dealing with 1000 rows of data, we are going to use 800 for training our model and 200 for testing it

In [ ]:
# Create linear regression object
regr = linear_model.LinearRegression()

# normalize data to have zero mean and std one (feature scaling)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(all_X_values_train)# scaler fit is just for training dataset 
all_X_values_train_normalized = scaler.transform(all_X_values_train) #normalize training set

# Train the model using the training sets
regr.fit(all_X_values_train_normalized, writing_score_Y_train) # 1. REPRESENTAR hypothesis, 2. EVALUAR MSE Error Cuadratico Medio 3. OPTIMIZAR (Gradient Descent)

# Make predictions using the testing set
all_X_values_test_normalized = scaler.transform(all_X_values_test) #normalize test set 
writing_score_Y_pred = regr.predict(all_X_values_test_normalized)

# The coefficients theta_0 (inter.), theta_1 (pendiente)
print("Coefficients: \n", "theta_values = ", regr.coef_, " theta_0  = ", regr.intercept_)
#print("Coefficients: \n", regr.coef_, regr.intercept_)
# The mean squared error
print("Mean squared error (MSE Cost): %.2f" % mean_squared_error(writing_score_Y_test, writing_score_Y_pred))
# The coefficient of determination: 1 is perfect prediction, varía entre 0 y 1
print("Coefficient of determination: %.2f" % r2_score(writing_score_Y_test, writing_score_Y_pred))

#Since we are dealing with multiple variables, plotting the result is not a viable option

Coefficients:
 theta_values =  [-0.10024443  0.05637113  0.04738999 -0.08833109  0.10407523]  theta_0  =  0.4875
Mean squared error (MSE Cost): 0.21
Coefficient of determination: 0.14

In [ ]:
from sklearn.linear_model import LogisticRegression
import numpy as np # numpy~Matlab
lambda_value = 110 #hyperparameter 

classifier = LogisticRegression(penalty='none').fit(all_X_values_train_normalized, math_score_Y_train) #penalty='none' -> sin regularización , lambda =0, representación+eval+opt
#classifier = LogisticRegression(penalty='l2', C=1/lambda_value, max_iter=10000).fit(all_X_values_train_normalized, writing_score_Y_train) #spenalty='l2' -> con regularización 

accuracy = classifier.score(all_X_values_train_normalized, writing_score_Y_train) #exactitud en el conjunto de entrenamiento
print(accuracy)

0.58125

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

Codigo Juan READING

In [ ]:
#we need to manage the data of our inputs
all_X_values = df[all_X].values

#we need to manage the data of our outputs (for my case is the math test only)
reading_score_Y = df[output_Reading].values

#split the data into training/testing sets
all_X_values_train = all_X_values[:-200] 
all_X_values_test = all_X_values[-200:] #last 200 for test

#split the targets into training/testing sets
reading_score_Y_train = reading_score_Y[:-200]
reading_score_Y_test = reading_score_Y[-200:] 

# Create linear regression object
from sklearn.linear_model import Lasso

#regr_reading=linear_model.LinearRegression()
lambda_value = 10000 #hyperparameter 
regr_reading = Lasso(alpha=1)

# normalize data to have zero mean and std one (feature scaling)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(all_X_values_train)# scaler fit is just for training dataset 
all_X_values_train_normalized = scaler.transform(all_X_values_train) #normalize training set

# Train the model using the training sets
regr_reading.fit(all_X_values_train_normalized, math_score_Y_train) # 1. REPRESENTAR hypothesis, 2. EVALUAR MSE Error Cuadratico Medio 3. OPTIMIZAR (Gradient Descent)

# Make predictions using the testing set
all_X_values_test_normalized = scaler.transform(all_X_values_test) #normalize test set 
reading_score_Y_pred = regr_reading.predict(all_X_values_test_normalized)

# The coefficients theta_0 (inter.), theta_1 (pendiente)
print("Coefficients: \n", "theta_values = ", regr_reading.coef_, " theta_0  = ", regr_reading.intercept_)
#print("Coefficients: \n", regr.coef_, regr.intercept_)
# The mean squared error
print("Mean squared error (MSE Cost): %.2f" % mean_squared_error(reading_score_Y_test, reading_score_Y_pred))
# The coefficient of determination: 1 is perfect prediction, varía entre 0 y 1
print("Coefficient of determination: %.2f" % r2_score(reading_score_Y_test, reading_score_Y_pred))

Coefficients:
 theta_values =  [ 0.  0.  0. -0.  0.]  theta_0  =  0.39
Mean squared error (MSE Cost): 0.26
Coefficient of determination: -0.04